.pageContainer {
  padding: 24px;
}

.cardMargin {
  margin-bottom: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quantityControl {
  margin-top: 16px;
  display: flex;
  align-items: center;
}


.spaceBetween {
  justify-content: space-between;
}

.marginTop {
  margin-top: 16px;
}